In [2]:
from sqlalchemy import create_engine, MetaData
from sqlalchemy import inspect

from sqlalchemy import (
    Table, 
    Column, 
    String,
    Integer, 
    Float,
    Boolean,
    select,
    text,
    func
)

import sqlalchemy as db

In [3]:
engine = create_engine('sqlite:///census.sqlite')

In [4]:
inspector = inspect(engine)
table_names = inspector.get_table_names()
print(table_names)

['census', 'state_fact']

In [5]:
connection = engine.connect()
print(connection)

<sqlalchemy.engine.base.Connection object at 0x000002388DEEDCD0>

In [6]:
metadata = MetaData()
census = Table('census', metadata, autoload_with=engine)
print(repr(census))

Table('census', MetaData(), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)

In [8]:
stmt = text('SELECT state, sex FROM census')  
result_proxy = connection.execute(stmt)
results = result_proxy.fetchall()
print(results[:5])

[('Illinois', 'M'), ('Illinois', 'M'), ('Illinois', 'M'), ('Illinois', 'M'), ('Illinois', 'M')]

In [13]:
query = select(census.c.state, census.c.sex)
output = connection.execute(query)
results = output.fetchall()
print(results[:5])

[('Illinois', 'M'), ('Illinois', 'M'), ('Illinois', 'M'), ('Illinois', 'M'), ('Illinois', 'M')]

In [15]:
print(query)

SELECT census.state, census.sex
FROM census

In [16]:
stmt = select(
    func.sum(census.c.pop2008)
)
results = connection.execute(stmt).fetchall()
print(results)

[(302876613,)]

In [31]:
stmt = select(
    func.sum(census.c.pop2008)
).where(census.c.sex == 'F')

In [32]:
results = connection.execute(stmt).fetchall()
print(results)

[(153959198,)]